$color-primary: antiquewhite; 
$color-secondary: #9F9F9F;
$color-secondary-light: #DBDBDB;

$color-white: #fff;
$color-black: #08070B;

$bp-small: 31.25em; // 500px
$bp-medium: 46.25em; // 740px
$bp-large: 81.25em; // 1300px
